<div class="row mb-2">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2 clickable">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h2 font-weight-bold text-dark mb-1">
                            {{ totalPolicies }}
                        </div>
                        <div class="h6 mb-0 text-gray-600 text-uppercase">
                            Total Policies
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-file-text-o fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2 clickable">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="h2 font-weight-bold text-dark mb-1">
                            {{ soldPolicies }}
                        </div>
                        <div class="h6 mb-0 text-gray-600 text-uppercase">
                            Sold Policies
                        </div>
                        <!-- <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Sold Policies</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ soldPolicies }}</div> -->
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-file-text-o fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Offers created</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">58</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-file fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Pending Requests Card Example -->
    <!-- <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Worth Transactions
                            Occured</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">1,46,000</div>
                    </div>
                    <div class="col-auto">
                        <i class="fa fa-comments fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
<app-manage-policies></app-manage-policies>