.profile-picture {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    color: transparent;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.918);
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: black;
}

.profile-picture:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    z-index: 10000 !important;
    color: #d62727 !important;
    transition: all 0.3s ease !important;
    display: inline-flex;
    padding: 0.2em;
}
