<div class="container-whole" id="wrapper">
  <app-sidebar class="mr-3"></app-sidebar>
  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column content-wrapper wrapper-css">
    <!-- Main Content -->
    <div id="content" class="container-content mb-3">
      <app-header></app-header>
      <!-- Begin Page Content -->
      <div class="container-fluid pl-0">
        <router-outlet></router-outlet>
      </div>
    </div>
      <!-- <app-footer></app-footer> -->
  </div>
</div>