.mat-drawer-container {
  background: #fff;
}

.mat-drawer-content {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  /* padding: 0 15px; */
}

.header-bg {
  background: #145cb7;
  color: #fff;
  padding: 15px 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.container-whole {
  padding: 0.5rem;
  overflow: auto;
}

.container-content {
  background-color: #f0f0f0;
  max-height: 100%;
  border-radius: 10px;
}

.wrapper-css {
  background-color: #f0f0f0 !important;
}

/* .container-fluid{
  padding-left: 0;
} */